body {
            background-color: burlywood;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

.alert {
    color: rgb(162, 44, 11);
}

.keyword {
    text-emphasis;
}

#topics {
    font-size: medium;
    font-style: italic;
    color:rgb(93, 47, 15);
}

